@model AppNov14.Web.ViewModels.Users.UserChangePasswordViewModel

<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="@this.Model.Form.Id" />
    <div class="form-group">
        <label asp-for="@this.Model.Form.NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="@this.Model.Form.NewPassword" class="form-control" />
    </div>
    <div class="form-group submit-btn">
        <input type="submit" value="Сохранить" class="btn btn-primary-submit" onclick="return confirm('Вы уверенны, что хотите сохранить изменения?')">
    </div>
</form>