@model AppNov14.Web.ViewModels.Roles.RoleUserListViewModel

<div class="table-wrapper">
    <table class="table">
        @foreach (var user in this.Model.UserList)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </td>
            </tr>
        }
    </table>
</div>