@model AppNov14.Web.ViewModels.Home.PrivacyViewModel

<div class="alert alert-info">
    <h5>Версия</h5>
    <hr />
    <p>VestPlast Database: version 1.3.3.1 date: 05.03.2022</p>
    <p>Сreated by Arelea</p>
</div>

<div class="alert alert-info">
    <h5>Исправления и реализации (Обновление 0004)</h5>
    <hr />
    <p>Правки</p>
</div>

<div class="alert alert-info">
    <h5>Исправления и реализации (Обновление 0003)</h5>
    <hr />
    <p>Добавлена возможность списывать сырье в партии, помещенные на склад</p>
</div>

<div class="alert alert-info">
    <h5>Исправления и реализации (Обновление 0002)</h5>
    <hr />
    <p>Добавлено редактирование в отгрузках для роли модератор</p>
</div>

<div class="alert alert-info">
    <h5>Исправления и реализации (Обновление 0001)</h5>
    <hr />
    <p>Исправлены различные текстовки</p>
    <p>Добавлена возможность для роли модератор списывать сырье в партию вне зависимости от статуса</p>
    <p>Добавлены иконки к кнопкам Excel</p>
    <p>Исправлена выписка Excel на странице <a asp-action="WarehouseFullInfo" asp-controller="Warehouse">Подробная информация по складу сырья</a></p>
    <p>Добавлены две выписки Excel на страницах <a asp-action="ViewBatchWarehouse" asp-controller="Goods">Склад партий</a> и <a asp-action="SellingsList" asp-controller="Goods">Список отгрузок</a></p>
</div>